:root{
    --fundo:rgb(255, 238, 169);
    --cor-frente: #FFFFFF;
    --destaque:rgba(255, 136, 0, 0.89);
    --branco: rgb(255, 238, 169);
    --preto:rgb(98, 61, 61);
    --cor-verso:rgb(253, 198, 88);

}

body{
    background-color: var(--fundo);
    margin: 0;
}

header{
    background-color: #f8c81cd4;
    padding: 40px;
    display: flex;
    justify-content: space-around;
}
footer{
    position: fixed;
    bottom: 0;
    background-color:var(--preto);
    color:var(--branco);
    width: 100%;
    text-align: center;
}

#container{
    padding: 3rem;
    display: grid;
    gap: 4rem;
}

.cartao{
    background-color: var(--cor-frente);
    color: var(--preto);
    padding: 40px;
    box-shadow: 5px 5px 5px var(--preto);
    cursor: pointer;
}

.cartao:hover{
    transform: scale(1.04);

}

.resposta-cartao{
    background-color: var(--cor-verso);
    padding: 40px;
    display: none;
}